{{ define "project_navigation" }}
    {{ partial "project/next_project.html" . }}
{{ end }}


{{ define "main" }}
    <div class="background {{ .Type | lower }}">
        <header class="project-header">
            <h1>
                <span class="type">{{ .CurrentSection.Params.project_id }} {{ .Type }}</span>
                {{ .CurrentSection.Title }}
             <span class="subtitle {{ .Type | lower }}">{{ with .CurrentSection.Params.Subtitle }}{{ . }}{{ end }}</span>
             <span class="underscore-spacer"></span>
            </h1>
            <section style="text-align: right;">
                <div class="spacer"></div>
                {{ if .CurrentSection.Params.team }}
                    <h4>Team</h4>
                    <ul>
                        {{ range .CurrentSection.Params.team }}
                            <li>{{ . }}</li>
                        {{ end }}
                    </ul>
                {{ end }}
                {{ if .CurrentSection.Params.supervisor }}
                    <h4>Supervision</h4>
                    {{ if eq "string" (printf "%T" .CurrentSection.Params.supervisor ) }}
                         {{ .CurrentSection.Params.supervisor }}
                    {{ else }} 
                        <ul>
                        {{ range .CurrentSection.Params.supervisor }}
                            <li>{{ . }}</li>
                        {{ end }}
                        </ul>
                    {{ end }}
                {{ end }}
            </section>
        </header>
    </div>
  
    {{ $label := cond (eq 0 (len .CurrentSection.Pages) ) "The Project" "Overview"}}
    
    <div class="project-menu desktop-menu background {{ .Type | lower }}">
        <ul>
            <li {{if .IsNode }}class="active"{{ end }}>
                <a href="{{ .CurrentSection.RelPermalink }}">{{ $label}}</a></li>
            {{ range .CurrentSection.Pages }}
            <li {{if eq . $ }}class="active"{{ end }}><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
            {{ end }}       
        </ul>
    </div>  
    <div class="project-menu mobile-menu background {{ .Type | lower }}">
        <ul>
            <li {{if .IsNode }}class="active"{{ end }}><a href="{{ .CurrentSection.RelPermalink }}">Overview</a></li>
            {{ range where .CurrentSection.Pages "Params.weight" "le" 2 }}
            <li {{if eq . $ }}class="active"{{ end }}><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
            {{ end }}
        </ul>
        <input type="checkbox" id="project-menu-button">
        <label for="project-menu-button">
            <span></span>
        </label>
        <div class="dropdown-menu">
            <ul>
                {{ range where .CurrentSection.Pages "Params.weight" "gt" 2 }}
                <li {{if eq . $ }}class="active"{{ end }}><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
                {{ end }}
            </ul>
        </div>
    </div>
    
    <main class="project">
        {{ if .IsNode }}
            {{ with .CurrentSection.Params.demo_link }}
            <a class="project-link" href="{{ . }}">
                <img src = "{{ "img/demo.svg" | absURL }}" alt="Demo Link Icon">
                Demo
            </a>
            {{ end }}
            {{ with .CurrentSection.Params.source_link }}
            <a class="project-link" href="{{ . }}">
                <img src = "{{ "img/code.svg" | absURL }}" alt="Demo Link Icon">
                Source_Code
            </a>
            {{ end }}
            {{ with .CurrentSection.Params.website_link }}
            <a class="project-link" href="{{ . }}">
                <img src = "{{ "img/website.svg" | absURL }}" alt="Demo Link Icon">
                Website
            </a>
            {{ end }}
            <p class="intro">
                {{ if ne "" .Params.claim }}{{ .Params.claim }}
                {{ else }}{{ .Params.card_description }}{{ end }}
            </p>
        {{ end }}
        {{ with .Params.Intro }}
            {{ . }}
        {{ end }}
        {{ with .Params.Abstract }}
        <section>
            <h3>Abstract</h3>
            <div class="spacer"></div>
            <div class="content">
                {{ . }}
            </div>
        </section>
        {{ end }}
        {{ .Content }}
    </main>
{{ end }}
