{{ $projects := slice }}
{{ range .Pages }} {{ $projects = append .Pages $projects}} {{ end }}
{{ $projects = sort $projects "Params.project_id"}}

{{ $bachelors := where $projects "Type" "Bachelor" }}
{{ $masters := where $projects "Type" "Master" }}

<main>
    {{ if eq (len $projects) 0 }}
        <p>Projects will be published about two weeks before the showtime.</p>
    {{ else }}
         <p>
            This term there are 
            <a href="#{{ (index $bachelors 0).Params.project_id }}">{{ len $bachelors }} bachelor's</a> 
            and 
            <a href="#{{ (index $masters 0).Params.project_id }}">{{ len $masters }} master's</a> 
            projects.
            <a href="../{{ .Site.Params.current_semester }}/project_overview">:</a>
        </p>

        {{ range $projects }}
        <p id ="{{ .Params.project_id }}"></p>
            <section class="projects-list-entry">
                <div>
                    <span class="type">{{ .Params.project_id }} {{ .Type }}</span>
                    <a href="{{ .RelPermalink }}">
                    
                        <h3>{{ .Title }}
                            <span class="project-subtitle">{{ with .Params.SubTitle }} {{ . }} {{ end }}</span>
                        </h3>
                    </a>
                    <p>
                    {{ if ne "" .Params.claim }}{{ .Params.claim }}
                    {{ else }}{{ .Params.card_description }}{{ end }}
                    </p>
                    <a href="{{ .RelPermalink }}">-> Details</a>
                </div>
                {{ $image := newScratch }}
                {{ if (and .Params.card_image (.Resources.GetMatch .Params.card_image)) }}
                    {{ $image.Set "src" (.Resources.GetMatch .Params.card_image).RelPermalink }}
                {{ else }} 
                    {{ $image.Set "src" (printf "%s/images/placeholder.png" .Site.BaseURL) }}
                {{ end }}
                <img src="{{ $image.Get "src" }}" alt="{{ .Title }}">
            </section>
            <hr class="alternate">
        {{ end }}
    {{ end }}
</main>