
{{/* put disk usage data into a dict */}}
{{/* see Makefile -> disk_usage_update */}}
{{ $disk_usages := dict }}
{{ range .Site.Data.disk_usage.disk_usage }}
    {{ $disk_usages = merge $disk_usages (dict  .path .size )}}
{{ end }}



{{ $projects := slice }}
{{ range .Pages }} {{ $projects = append .Pages $projects}} {{ end }}
{{ $projects = sort $projects "Params.project_id"}}

<main>
    {{ range $projects }}
    <hr id = "{{- partial "project/anchor.html" (dict "id" .Params.project_id  "a_pref" "meta_list" ) -}}" class="project_divider">
   
    <p id ="{{ .Params.project_id }}"></p>
    <h3  class = "plain">{{ .Params.project_id }} {{ .Title }}</h3>
    <h4> {{ .Type }} </h4>
        <p><b>project_id:</b> {{ .Params.project_id }}</p>
        <p><b>title:</b> = {{ .Title }}</p>
        <p><b>subtitle:</b> = {{ .Params.Subtitle }}</p>
        <p><b>team:</b> {{ .Params.Team }} ({{ printf "%T" .Params.Supervisor }})</p>
        <p><b>supervisor:</b> {{ .Params.Supervisor }} ({{ printf "%T" .Params.Supervisor }})</p>
      
        <p><b>claim</b> =  {{ .Params.claim }}</p>
        <p><b>abstract</b> =  {{ .Params.abstract }}</p>
        <p><b>card_description = </b> (deprecated, use claim instead!) = {{ .Params.card_description }}</p>
       
        <p><b>url</b>: <a href="{{ .RelPermalink }}">{{ .RelPermalink }}</a></p>
        <p><b>Disk Usage:</b>  {{ $path := (.File.Dir | strings.TrimSuffix "/")  }}
           
            {{ index $disk_usages $path }}</p>
            
                {{ partial "taxonomies" . }}
        <small><pre><b>for data/schedule.toml:</b>
                {{ partial "project/schedule_data.toml" . }}
        </pre></small></p>
    
{{ end }}
<hr/>
<small><pre>
<b>for data/schedule.toml:</b>
{{ range $projects }}
{{ partial "project/schedule_data.toml" . }}
{{ end }}
</main>
</pre></small>