baseURL = "http://localhost:1313/"
languageCode = "de-de"
title = "IMI Showtime"
theme = "showtime-theme-2021"

[params]
    current_semester = "ss23"
    production_site = "https://showtime.f4.htw-berlin.de/"
    archive_path = "ws22"

[markup]
    [markup.goldmark]
        [markup.goldmark.renderer]
            unsafe = true

[module]
  private = '*.*'
  proxy = 'direct'
  workspace = 'off'
  replacements = 'github.com/htw-imi-showtime/showtime-website-project-archive -> ../content/archive'
[[module.imports]]
  path = 'github.com/htw-imi-showtime/showtime-website-project-archive'
[[module.mounts]]
  source = "content"
  target = "content"