baseURL = "http://localhost:1313/"
languageCode = "de-de"
title = "IMI Showtime"
theme = "showtime-theme-2021"

[params]
    current_semester = "ss22"

[markup]
    [markup.goldmark]
        [markup.goldmark.renderer]
            unsafe = true
