[submodule "themes/showtime-theme-2021"]
	path = themes/showtime-theme-2021
	url = ../../htw-imi-showtime/showtime-theme-2021.git
	branch = main
[submodule "archive"]
	path = content/archive
	url = git@github.com:drblinken/showtime-project-archive.git
	branch = main
