# OS
.DS_Store
Thumbs.db

# Hugo
/public/
/resources/_gen/
.hugo_build.lock

# Ignore Idea
.idea/
.history/

# Linkinator
node_modules/
.linkinator/
hugo-temp/
tmp/
files-other.txt
files-project.txt
themes/showtime-theme-2021/
