{{ define "main" }}
<header>
    <h1>
        {{ .Title }}
        <span class="underscore-spacer"> </span>
    </h1>
    <section class="underscore">
        <div class="spacer"></div>
        {{ .Content }}
    </section>
</header>
 {{ $current_semester_page := .Site.GetPage .Site.Params.current_semester }}
 {{ slice $current_semester_page }}
 <ul>

 {{ $all_weight_reversed :=  sort .Site.Pages ".Weight" "desc" }}
 {{ $all_weight_reversed = where $all_weight_reversed "Params.category" "project-archive" }}
 {{ $all :=  append  $all_weight_reversed (slice $current_semester_page) }} 
 {{ $all_weight_reversed }}
 {{ $all }}
 {{ range $all  }}
 {{ . }}
 <li>**{{ .RelPermalink }}" {{ .Title }} {{ .Params.full_title }}</li>
    <ul>{{ range .Pages }}
    <li>{{ .RelPermalink }}" {{ .Title }} {{ .Params.full_title }}
        <ul>{{ range .Pages }}
            <li><a href="{{ .RelPermalink }}"> {{ .Params.project_id }} - {{ .Title }}</a>  ({{ .Params.supervisor }})
        
            {{ end }}</ul>
    {{ end }}</ul>
    
{{ end }}
</ul>
the archive
{{ end }}