$color-primary: #ff7578;
$color-accent: #fdfe83;
$color-link: #29d09f;
$color-dark: #3e2d4a;

$color-background: #fff6f6;
$color-secondary: #ff927a;
$color-link-dark: #0ad0a1;

$color-dropdown: #67ffd2;
$color-button-active: #1CA37B;
