{{ $projects := slice }}
{{ range .Pages }} {{ $projects = append .Pages $projects}} {{ end }}
{{ $projects = sort $projects "Params.project_id"}}
<main>
    {{ range $projects }}
    <p id ="{{ .Params.project_id }}"></p>
    <h4>{{ .Params.project_id }} / {{ .Type }} <a href="{{ .RelPermalink }}">{{ .RelPermalink }}</a></h4>
    <ul>
        <li>.Title: {{ .Title }}</li>
        <li>.Params.card_description: {{ .Params.card_description }}</li>

    </ul>
       
        <hr class="alternate">
    {{ end }}
</main>