{{ $projects := slice }}
{{ range .Pages }} {{ $projects = append .Pages $projects}} {{ end }}
{{ $projects = sort $projects "Params.project_id"}}
<main>
    {{ range $projects }}
    <p id ="{{ .Params.project_id }}"></p>
    <h4>{{ .Params.project_id }} / {{ .Type }} <a href="{{ .RelPermalink }}">{{ .RelPermalink }}</a></h4>
  
        <p>Supervisor: {{ .Params.Supervisor }}</p>
        <p>title = {{ .Title }}</p>
        <p>subtitle = {{ .Params.Subtitle }}</p>
        <p>claim =  {{ .Params.claim }}</p>
        <p>abstract =  {{ .Params.abstract }}</p>

       <p>card_description = {{ .Params.card_description }}</p>
        <hr class="alternate">
    {{ end }}
</main>