
{{- /*  Initialize. */}}
{{- $asset := "" }}

{{- /* Get params. */}}
{{- with (.Get 0) }}
  {{- $asset = . }}
{{- else }}
  {{- errorf "The %q shortcode requires a single positional parameter; 
  the absolute path to a file in the project directory. See %s" .Name .Position}}
{{- end }}

{{- /* Get resource. */}}
{{- $r := "" }}

{{ with readFile $asset }}

  {{- $r = . }}
{{- else }}
  {{- errorf "The %q shortcode was unable to find %q. See %s" .Name $asset .Position}}
{{- end }}

{{- /* Render resource content. */}}
{{- $r | .Page.RenderString }}

{{- /* Chomp trailing newlines. */ -}}