name: Check Project Update PR

on:
  pull_request:
  workflow_dispatch:

jobs:
  hugo-build:
    if: github.repository == 'htw-imi-showtime/showtime-website'
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: false
    - name: Get Theme
      run: |
        git submodule update --init themes/showtime-theme-2021

    - name: Hugo setup
      uses: peaceiris/actions-hugo@v3
      with:
        hugo-version: '0.128.0'
        extended: true

    - name: Build
      run: |
        hugo \
          --environment staging \
          --baseURL "https://htw-imi-showtime.github.io/tryout/" \
          --buildDrafts 

  check-title:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: false
        fetch-depth: 1
    - name: check pr title starts with project id
      id: extract_pid
      env: 
        PR_TITLE: ${{ github.event.pull_request.title }}
      run: |
        ./bin/check-project-update-pr/check-title.sh $PR_TITLE
        

  check_files_in_pr:
      runs-on: ubuntu-latest
      # Required permissions
      permissions:
        pull-requests: read
      steps:
      - uses: actions/checkout@v4
        with:
          submodules: false
          fetch-depth: 20
      
      - name: extract project id
        continue-on-error: true
        id: extract_pid
        env: 
          PR_TITLE: ${{ github.event.pull_request.title }}
        run: |
            project_id=$(bin/extract_pid_from_pr_title.sh $PR_TITLE)
            pid_ok=$?
            echo "project_id=$project_id" >> $GITHUB_OUTPUT
            echo "pid_ok=$pid_ok" >> $GITHUB_OUTPUT
            exit 0
      
      - name: 'changed files'
        uses: dorny/paths-filter@v3
        id: filter
        with:
          list-files: 'shell'
          filters: |
            contains_project_files:
              - 'content/ss24/**'
              - 'content/ws23/**'
            in_project:
              - 'content/**/${{ steps.extract_pid.outputs.project_id }}-*/**'
            other_files:
              - '!content/**/${{ steps.extract_pid.outputs.project_id }}-*/**'
      
      - name: files in project folder
        if: (steps.filter.outputs.in_project == 'true')
        run: |
          echo "--------- project_files:"
          echo ${{ steps.filter.outputs.in_project_files }} | tr ' ' '\n'
          
      
      - name: 'files outside of project folder'
        if: (steps.filter.outputs.other_files == 'true')
        run: |
          echo "--------- non_project_files (may not be part of project update PR!):"
          echo ${{ steps.filter.outputs.other_files_files }} | tr ' ' '\n'
          echo "ERROR: found files outside of project folder"
      
      - name: 'fail if both project files present and no project id in title'
        if: (steps.filter.outputs.contains_project_files == 'true') && (steps.extract_pid.outputs.project_id != '0')
        run: |
            echo "ERROR: PR contains both project files and files outside of project indicated by PR Title!"
            echo "Extracted id: ${{ steps.extract_pid.outputs.project_id }}"
            exit 321
      
      - name: 'fail if both project files and other files present'
        if: (steps.filter.outputs.contains_project_files == 'true') && (steps.filter.outputs.other_files == 'true')
        run: |
          echo "ERROR: PR contains both project files and files outside of project indicated by PR Title!"
          echo "Extracted id: ${{ steps.extract_pid.outputs.project_id }}"
          exit 321
      
