name: DEPLOY PRODUCTION

on:
  release:
    types: [published]
    
jobs:
  deploy:
    if: github.repository == 'htw-imi-showtime/showtime-website'
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        submodules: true

    - name: Hugo setup
      uses: peaceiris/actions-hugo@v2
      with:
        hugo-version: '0.115.1'
        extended: true

    - name: Build
      run: |
        hugo \
          --environment production \
          --minify

    - name: Deploy
      uses: appleboy/scp-action@v0.1.1
      with:
        host: ${{ secrets.SCP_HOST }}
        username: ${{ secrets.SCP_USERNAME }}
        key: ${{ secrets.SCP_KEY }}
        passphrase: ${{ secrets.SCP_PASSPHRASE }}
        source: public/
        target: /var/www/html/
        rm: true
