name: DEPLOY DEVELOPMENT

on:
  push:
    branches: [ main ]
  
  workflow_dispatch:
    
permissions:
  contents: write

jobs:
  deploy:
    if: github.repository_owner != 'htw-imi-showtime'
    runs-on: ubuntu-latest
    steps:
       
    - uses: actions/checkout@v3
      with:
        submodules: true

    - name: Hugo setup
      uses: peaceiris/actions-hugo@v2
      with:
        hugo-version: '0.115.1'
        extended: true


    - name: Build
      run: |
        hugo \
          --environment staging \
          --baseURL "https://${{ github.repository_owner }}.github.io/${{ github.event.repository.name }}/" \
          --buildDrafts

    - name: Deploy
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}


        