# Generic Workflow that builds the hugo page from . (root dir of the repo)
# sets the baseURL for hugo to 'https://<owner>.github.io/<repo>'
# publishes the hugo page using the (older) option by pushing the 
# page to the branch gh-pages

# use it with <repo>->Settings->Pages "Deploy from a branch"
# Select Branch: "gh-pages" Select Folder: "/(root)"
# Contains a RUN_IF to prevent it from running in the original repo

# This is here for legacy reasons. If in doubt, use the workflow in gh-pages-action.yml !

name: Deploy Page using Branch

on:
  push:
    branches:
    - gh_pages_deploy_fix # Set a branch that will trigger a deployment  
  workflow_dispatch:

jobs:

  deploy:
    if: ${{ github.repository_owner != 'htw-imi-showtime' }}
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: false  
          fetch-depth: 1     # Fetch all history for .GitInfo and .Lastmod
      
      - name: Get Theme
        run: |
            git submodule update --init themes/showtime-theme-2021
    
        # see https://github.com/marketplace/actions/hugo-setup
      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v3
        with:
          hugo-version: 'latest'
          extended: true
      
      - name: Build
        run: |
              hugo \
                --environment production \
                --buildDrafts \
                --baseURL 'https://${{ github.repository_owner }}.github.io/${{ github.event.repository.name }}'

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v4
        if: github.ref == 'refs/heads/main'
        with:
          publish_dir: ./public
